.main{
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed;
  margin: 2%;
  padding: 2%;
  background-color: coral;
}

.tweetContainer{
  margin: 48px 0;
  width: 100%;
  display: contents;
  flex-flow: column;
  align-items: center;
  background-color: aqua;
}

.tweet{
  margin: 24px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  border: solid;
  
}

input{
  margin-right: 24px;
}

.comment{
  display: flex;
  width: inherit;
  justify-content: center;
  margin-top : 24px;
}

.likeButton{
  display: flex;
}

.likeCount{
  margin-left : 16px;
}